{% extends "admin/fields.njk" %}

{% block ingredients %}
    <div id="ingredients">Ingredientes
        <div class="ingredient">
                <input 
                    type="text"
                    name="recipe_ingredient[]"
                    value="{{ recipes.ingredient }}"
                />
        </div>
    </div>
{% endblock %}

{% block preparation %}
    <div id="preparation-itens">Modo de preparo
        <div class="preparation">
            <input 
                type="text"
                name="recipe_preparation"
                value="{{ recipes.preparation }}"
            />
        </div>
    </div>
{% endblock %}