{% extends "admin/layout.njk" %}
    {% block content %}

            <div class="head-content">
                <h1 class="recipes-title">Gerenciar receitas</h1>
                <a href="/admin/recipes/create" class="btn_action">Nova receita</a>
            </div>

            <div class="card-recipe">
                {% for recipe in recipes %}

                <section class="cards">
                    <section class="card-image">
                        <figure>
                            <img src="{{ recipe.image }}" alt="{{ recipe.title }}">
                        </figure>
                    </section>
                    
                    <section class="card-detail">
                        <div class="card__title">
                            <p class="title">{{ recipe.title }}</p>
                        </div>

                        <div class="card__author">
                            <p class="author">{{ recipe.author }}</p>
                        </div>

                        <a id="{{recipe.id}}" class="view-recipe">Visualizar</a>
                    </section> 
                </section>
                {% endfor %}
            </div>

    {% endblock %}