{% extends "admin/layout.njk" %}
    {% block content %}

            <section id="meal" class="cards-detail">
                <div class="card-details">
                    <div class="card-detail-head">

                        <div class="head-content">
                            <h1 class="head-title">Receita: {{ recipes.title }}</h1>
                            <a href="/admin/recipes/{{ recipes.id }}/edit" class="btn_action">Editar receita</a>
                        </div>
                        
                        <div class="card__image-container-detail">
                            <figure>
                                <img src="{{ recipes.image }}" alt="{{ recipes.title }}">
                            </figure>
                        </div>
                        <div class="card__title-detail">
                            <h1>{{ recipes.title }}</h1>
                        </div>
                        <div class="card__author-detail">
                            <h2>por {{ recipes.author }}</p>
                        </div>
                    </div>

                    <div class="card-detail-content">
                        <div class="ingredients">
                            <h3>Ingredientes</h3>
                            <h4>ESCONDER</h4>
                            <div class="topic-content">
                                <ul class="hidden">
                                    {% for ingredient in recipes.ingredients %}
                                        <li>{{ ingredient }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                        <div class="preparation">
                            <h3>Modo de preparo</h3>
                            <h4>ESCONDER</h4>
                            <div class="topic-content">
                                <ul class="hidden">
                                    {% for preparation in recipes.preparation %}
                                        <li>{{ preparation }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                        <div class="information">
                            <h3>Informações adicionais</h3>
                            <h4>ESCONDER</h4>
                            <div class="topic-content">
                                <p class="hidden">{{ recipes.information }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
    {% endblock %}