<div class="item">
    <div>Nome</div>

    <input 
        type="text"
        name="name"
        value="{{recipe.name}}"
    >
</div>

<div class="item">
    <div>Avatar</div>
    <div class="photos-upload">
        <input 
            id="chef_photo-input"
            type="file" 
            name="photo_avatar"
            accept="image/*"
        >
        <p>Selecione uma foto</p>
    </div>
    <div class="photos-preview"></div>
</div>