{% extends "admin/layout.njk" %}

{% block findForm %}
    <form action="/chefs" method="get" id="btn_find_chefe">
        <input 
            type="text" 
            name="filter" 
            placeholder="Buscar Chefe"
        >
        <button type="submit">Buscar</button>
    </form>
{% endblock %}

{% block content %}
    <div class="head-content">
        <h1 class="recipes-title">Gerenciar chefs</h1>
        <a href="/admin/chefs/createchefs" class="btn_action">Novo chefe</a>
    </div>

    <section class="avatar_cards">

        {% for chef in chefs %}
        <div class="avatar_card">
            <div>
                <section class="avatar_img"
                    style="background: url({{ chef.avatar_url }}) no-repeat center top / cover">
                </section>
            </div>
            <div class="chef_name">
                <h3>{{ chef.name }}</h3>
                <a href="/admin/chefs/{{ chef.id }}" class="">Visualizar</a>
            </div>
        </div>
        {% endfor %}

    </section>
{% endblock %}