{% extends "admin/layout.njk" %}

{% block content %}

    <form class="form-chef" method="post" action="/admin/chefs?_method=PUT" >

        <h1>Editando Chef</h1>

        {% include "admin/fieldschef.njk" %}

        <input 
            type="hidden"
            name="id"
            value="{{ chef.id }}">
    </form>

    <form method="post" action="/admin/chefs?_method=DELETE">
        <input 
            type="hidden"
            name="id",
            value="{{ chef.id }}">

        <input 
            type="hidden" 
            name="total_recipes" 
            value="{{ chef.total_recipes }}"
            class="delete_validation">
        
        <button class="btn_delete" type="Submit">Deletar</button>
    </form>

{% endblock%}