{% extends "admin/layout.njk" %}

{% block content %}

    <form class="form-chef" action="/admin/chefs" method="POST">

            <h1>Criando chef</h1>

            {% include "admin/fieldschef.njk"%}

    </form>

{% endblock %}