{% extends "admin/layout.njk" %}

{% block content %}

    <form class="form-recipe" method="post" action="/admin/recipes?_method=PUT">

        <h1>Editando receita</h1>

        {% include "admin/fieldsedit.njk" %}

        <input 
            type="hidden" 
            name="id" 
            value="{{ recipes.id }}"/>
    </form>

    <form method="post" action="/admin/recipes?_method=DELETE">    
        <input 
                type="hidden" 
                name="id" 
                value="{{ recipes.id }}"/>

        <button class="btn_delete" type="Submit">Deletar</button>
    </form>

{% endblock %}