<button type="Submit" id="btn_save" class="btn_submit">Salvar receita</button>

            <div class="item">
                <div>Titulo da receita</div>
                <input 
                    type="text"
                    name="recipe_title"
                    value="{{ recipes.title }}"
                />
            </div>

            <div class="item">
                <div>Imagem da receita</div>
                <input 
                    type="url"
                    name="recipe_image"
                    value="{{ recipes.image }}"
                />
            </div>

            <div class="item">
                <div>Chef</div>
                <select name="chef">
                    {% for chef in chefOptions %}
                        <option value="{{ chef.id }}" {% if recipes.chef_id == chef.id %} selected {% endif %}>
                            {{ chef.name }}
                        </option>
                    {% endfor %}
                </select>
            </div>

            <div class="item">
                {% block ingredients %}
                    <div id="ingredients">Ingredientes
                        <div class="ingredient">
                                <input 
                                    type="text"
                                    name="recipe_ingredient[]"
                                    value="{{ recipes.ingredient }}"
                                />
                        </div>
                    </div>
                {% endblock %}
            </div>

            <nav class="link-action">
                <a class="add-ingredient">Adicionar novo ingrediente</a>
            </nav>

            <div class="item">
                {% block preparation %}
                    <div id="preparation-itens">Modo de preparo
                        <div class="preparation">
                            <input 
                                type="text"
                                name="recipe_preparation[]"
                                value="{{ recipes.preparation }}"
                            />
                        </div>
                    </div>
                {% endblock %}
            </div>

            <nav class="link-action">
                <a class="add-preparation">Adicionar novo passo</a>
            </nav>

            <div class="item">
                <div>Informações adicionais</div>
                <input
                    class="last-input"
                    type="text"
                    name="recipe_information"
                    value="{{ recipes.information }}"
                    wrap="hard"/>
            </div>