<button type="Submit" id="btn_save" class="btn_submit">Salvar chef</button>

            <div class="item">
                <div>Nome</div>
                <input 
                    type="text"
                    name="chef_name"
                    value="{{ chef.name }}"
                >
            </div>

            <div class="item">
                <div>Avatar</div>
                <input 
                    type="url"
                    name="chef_avatar_url"
                    value="{{ chef.avatar_url }}"
                />
            </div>