{% extends "admin/layout.njk" %}

{% block content %}

    <section class="container form">
        <form method="POST" action="/chefs" enctype="multipart/form-data">

            <div class="header">
                <h1>Criando chef</h1>
                <div class="actions">
                    <button class="button save" type="submit">Salvar chef</button>
                </div>
            </div>

            <div class="fields">
                {% include "chefs/fields.njk" %}
            </div>

        </form>
    </section>

{% endblock %}