<header>
    <div class="container">
        <a href="/">
            <div class="logo">
            </div>
        </a>

        <nav class="primary">
            <ul>
                <li>
                    <a href="/">RECEITAS</a>
                </li>
                <li>
                    <a href="/">CHEFS</a>
                </li>
            </ul>
        </nav>
    </div>
</header>