{% extends "layout.njk" %}

{% block findForm %}

{% endblock %}

{% block content %}

    <section class="avatar_cards">

        {% for chef in chefs %}
        <div class="avatar_card">
            <div>
                <section class="avatar_img"
                    style="background: url({{ chef.avatar_url }}) no-repeat center top / cover">
                </section>
            </div>
            <div class="chef_name">
                <h3>{{ chef.name }}</h3>
                <div class="total_recipes">
                    <p>{{ chef.total_recipes }} receitas</p>
                </div>
            </div>
        </div>
        {% endfor %}

    </section>
{% endblock %}