{% extends "layout.njk" %}

{% block findForm %}
    <form action="/chefs" method="get" id="btn_find_chefe">
        <input 
            type="text" 
            name="filter" 
            placeholder="Buscar Chefe"
        >
        <button type="submit">Buscar</button>
    </form>
{% endblock %}