<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>FoodFy</title>
        <link rel="stylesheet" href="/userstyles.css">
    </head>
    <body>
        <div class="container">
            <header class="header">
                <a href="/">
                    <div class="logo"></div>
                </a>
                
                <nav class="menu">
                    <a href="/about">Sobre</a>
                    <a href="/recipes">Receitas</a>
                    <a href="/chefs">Chefs</a>
                </nav>
                {% block findForm %}
                <form action="/recipefind" method="get" id="btn_find_recipe">
                    <input 
                        type="text" 
                        name="filter" 
                        placeholder="Buscar uma receita"
                        value = {{ filter }}
                    >
                    <button type="submit">Buscar</button>
                </form>
                {% endblock %}
                
            </header>

            {% block content %}
            {% endblock %}
        </div>
        <footer>
            <p>Todos os direitos reservados, receitas Foodfy.</p>
        </footer>
        <script src="/script.js"></script>
    </body>
</html>